    body {
      background-color: #FCC5C0;
      font-family: helvetica;
            }
    hr {
      border-style: dotted none none;
      border-color: grey;
      border-width: 5px;
      height: 0;
      width: 5%;
    }
    h1 {
      color: #C689C6
    }
    h3 {
      color: #C689C6
    }

    .circular {
      border-radius: 50%;
    }

    a {
      outline: none;
      text-decoration: none;
      padding: 2px 1px 0;
    }

    a:link {
      color: #41228E;
    }

    a:visited {
      color: #937DC2;
    }

    a:focus {
      border-bottom: 1px solid;
      background: #F6C6EA;
    }

    a:hover {
      border-bottom: 1px solid;
      background: #E8A0BF;
    }

    a:active {
      background: #41228E;
      color: #E8A0BF;
    }
